# IDE specific files.
.vscode/
.idea/

# Temporary files
temp/
*.tmp
downloads/

# Environment specific files.
.env
env/

# Files for running the application
run.*

# Python specific files
__pycache__/

# Mac specific files
.DS_Store
